@keyframes amazingAnimation {
  0%,
  100% {
    transform: translateX(0) translateY(0) scale(1);
  }
  25% {
    transform: translateX(-100%) translateY(0) scale(0.8);
  }
  50% {
    transform: translateX(-100%) translateY(-20%) scale(1.2);
  }
  75% {
    transform: translateX(0) translateY(-20%) scale(0.8);
  }
}
@keyframes amazingAnimation2 {
  0%,
  100% {
    transform: translateX(-100%) translateY(-100%) scale(1);
  }
  25% {
    transform: translateX(-0%) translateY(100%) scale(0.8);
  }
  50% {
    transform: translateX(0%) translateY(+20%) scale(1.2);
  }
  75% {
    transform: translateX(0) translateY(+20%) scale(0.8);
  }
}
